In [3]:
from langchain_community.document_loaders import TextLoader
from langchain_text_splitters import CharacterTextSplitter
from langchain_openai import OpenAIEmbeddings
from langchain_chroma import Chroma

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
import pandas as pd
movies = pd.read_csv("movies_cleaned.csv")

In [6]:
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,release_year,tagged_overview
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,1994,278 Framed in the 1940s for the double murder ...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,1995,"19404 Raj is a rich, carefree, happy-go-lucky ..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,1972,"238 Spanning the years 1945 to 1955, a chronic..."
3,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,1974,240 In the continuing saga of the Corleone cri...
4,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093,2001,"129 A young girl, Chihiro, becomes trapped in ..."
...,...,...,...,...,...,...,...,...,...,...,...
6229,168098,Cell,"Horror,Science Fiction,Thriller",en,When a strange signal pulsates through all cel...,19.521,2016-07-06,4.7,910,2016,168098 When a strange signal pulsates through ...
6230,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347,2010,10196 The story follows the adventures of Aang...
6231,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332,1990,"13995 During World War II, a brave, patriotic ..."
6232,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,2007,2312 A man named Farmer sets out to rescue his...
6233,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221,2019,455957 Seeking justice for his partner’s murde...

In [7]:
movies["tagged_overview"]

0       278 Framed in the 1940s for the double murder ...
1       19404 Raj is a rich, carefree, happy-go-lucky ...
2       238 Spanning the years 1945 to 1955, a chronic...
3       240 In the continuing saga of the Corleone cri...
4       129 A young girl, Chihiro, becomes trapped in ...
                              ...
6229    168098 When a strange signal pulsates through ...
6230    10196 The story follows the adventures of Aang...
6231    13995 During World War II, a brave, patriotic ...
6232    2312 A man named Farmer sets out to rescue his...
6233    455957 Seeking justice for his partner’s murde...
Name: tagged_overview, Length: 6234, dtype: object

In [8]:
movies["tagged_overview"].to_csv("tagged_overview.txt", index=False, header=False)

In [26]:
raw_documents = TextLoader("tagged_overview.txt", encoding="utf-8").load()
text_splitter = CharacterTextSplitter(chunk_size=1, chunk_overlap=0, separator="\n")
documents = text_splitter.split_documents(raw_documents)

Created a chunk of size 394, which is longer than the specified 1
Created a chunk of size 393, which is longer than the specified 1
Created a chunk of size 313, which is longer than the specified 1
Created a chunk of size 228, which is longer than the specified 1
Created a chunk of size 207, which is longer than the specified 1
Created a chunk of size 369, which is longer than the specified 1
Created a chunk of size 277, which is longer than the specified 1
Created a chunk of size 229, which is longer than the specified 1
Created a chunk of size 327, which is longer than the specified 1
Created a chunk of size 222, which is longer than the specified 1
Created a chunk of size 252, which is longer than the specified 1
Created a chunk of size 576, which is longer than the specified 1
Created a chunk of size 398, which is longer than the specified 1
Created a chunk of size 427, which is longer than the specified 1
Created a chunk of size 214, which is longer than the specified 1
Created a chunk of size 302, which is longer than the specified 1
Created a chunk of size 328, which is longer than the specified 1
Created a chunk of size 504, which is longer than the specified 1
Created a chunk of size 401, which is longer than the specified 1
Created a chunk of size 341, which is longer than the specified 1
Created a chunk of size 404, which is longer than the specified 1
Created a chunk of size 474, which is longer than the specified 1
Created a chunk of size 639, which is longer than the specified 1
Created a chunk of size 465, which is longer than the specified 1
Created a chunk of size 849, which is longer than the specified 1
Created a chunk of size 300, which is longer than the specified 1
Created a chunk of size 454, which is longer than the specified 1
Created a chunk of size 213, which is longer than the specified 1
Created a chunk of size 248, which is longer than the specified 1
Created a chunk of size 237, which is longer than the specified 1
Created a chunk of size 232, which is longer than the specified 1
Created a chunk of size 281, which is longer than the specified 1
Created a chunk of size 276, which is longer than the specified 1
Created a chunk of size 598, which is longer than the specified 1
Created a chunk of size 363, which is longer than the specified 1
Created a chunk of size 281, which is longer than the specified 1
Created a chunk of size 255, which is longer than the specified 1
Created a chunk of size 403, which is longer than the specified 1
Created a chunk of size 225, which is longer than the specified 1
Created a chunk of size 479, which is longer than the specified 1
Created a chunk of size 436, which is longer than the specified 1
Created a chunk of size 373, which is longer than the specified 1
Created a chunk of size 276, which is longer than the specified 1
Created a chunk of size 722, which is longer than the specified 1
Created a chunk of size 238, which is longer than the specified 1
Created a chunk of size 412, which is longer than the specified 1
Created a chunk of size 218, which is longer than the specified 1
Created a chunk of size 381, which is longer than the specified 1
Created a chunk of size 209, which is longer than the specified 1
Created a chunk of size 357, which is longer than the specified 1
Created a chunk of size 241, which is longer than the specified 1
Created a chunk of size 206, which is longer than the specified 1
Created a chunk of size 225, which is longer than the specified 1
Created a chunk of size 564, which is longer than the specified 1
Created a chunk of size 273, which is longer than the specified 1
Created a chunk of size 518, which is longer than the specified 1
Created a chunk of size 352, which is longer than the specified 1
Created a chunk of size 330, which is longer than the specified 1
Created a chunk of size 278, which is longer than the specified 1
Created a chunk of size 508, which is longer than the specified 1
Created a chunk of size 293, which is longer than the specified 1
Created a chunk of size 248, which is longer than the specified 1
Created a chunk of size 435, which is longer than the specified 1
Created a chunk of size 239, which is longer than the specified 1
Created a chunk of size 406, which is longer than the specified 1
Created a chunk of size 346, which is longer than the specified 1
Created a chunk of size 332, which is longer than the specified 1
Created a chunk of size 367, which is longer than the specified 1
Created a chunk of size 215, which is longer than the specified 1
Created a chunk of size 236, which is longer than the specified 1
Created a chunk of size 211, which is longer than the specified 1
Created a chunk of size 403, which is longer than the specified 1
Created a chunk of size 264, which is longer than the specified 1
Created a chunk of size 296, which is longer than the specified 1
Created a chunk of size 319, which is longer than the specified 1
Created a chunk of size 343, which is longer than the specified 1
Created a chunk of size 536, which is longer than the specified 1
Created a chunk of size 437, which is longer than the specified 1
Created a chunk of size 214, which is longer than the specified 1
Created a chunk of size 279, which is longer than the specified 1
Created a chunk of size 299, which is longer than the specified 1
Created a chunk of size 240, which is longer than the specified 1
Created a chunk of size 385, which is longer than the specified 1
Created a chunk of size 264, which is longer than the specified 1
Created a chunk of size 370, which is longer than the specified 1
Created a chunk of size 426, which is longer than the specified 1
Created a chunk of size 377, which is longer than the specified 1
Created a chunk of size 236, which is longer than the specified 1
Created a chunk of size 255, which is longer than the specified 1
Created a chunk of size 197, which is longer than the specified 1
Created a chunk of size 218, which is longer than the specified 1
Created a chunk of size 234, which is longer than the specified 1
Created a chunk of size 462, which is longer than the specified 1
Created a chunk of size 318, which is longer than the specified 1
Created a chunk of size 480, which is longer than the specified 1
Created a chunk of size 405, which is longer than the specified 1
Created a chunk of size 342, which is longer than the specified 1
Created a chunk of size 358, which is longer than the specified 1
Created a chunk of size 396, which is longer than the specified 1
Created a chunk of size 431, which is longer than the specified 1
Created a chunk of size 482, which is longer than the specified 1
Created a chunk of size 559, which is longer than the specified 1
Created a chunk of size 304, which is longer than the specified 1
Created a chunk of size 385, which is longer than the specified 1
Created a chunk of size 392, which is longer than the specified 1
Created a chunk of size 288, which is longer than the specified 1
Created a chunk of size 425, which is longer than the specified 1
Created a chunk of size 406, which is longer than the specified 1
Created a chunk of size 230, which is longer than the specified 1
Created a chunk of size 271, which is longer than the specified 1
Created a chunk of size 233, which is longer than the specified 1
Created a chunk of size 299, which is longer than the specified 1
Created a chunk of size 387, which is longer than the specified 1
Created a chunk of size 786, which is longer than the specified 1
IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [10]:
documents[0]

Document(metadata={'source': 'tagged_overview.txt'}, page_content='"278 Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope."')

In [13]:
db_movies = Chroma.from_documents(
    documents,
    embedding=OpenAIEmbeddings()
)

In [14]:
query = "A movie which tells about story happened during world war 2"
docs = db_movies.similarity_search(query, k = 5)
docs

[Document(id='818b1dd0-9c9a-4320-a870-69407791e1a7', metadata={'source': 'tagged_overview.txt'}, page_content='"515001 A World War II satire that follows a lonely German boy whose world view is turned upside down when he discovers his single mother is hiding a young Jewish girl in their attic. Aided only by his idiotic imaginary friend, Adolf Hitler, Jojo must confront his blind nationalism."'),
 Document(id='98f428a5-45aa-4f3f-8011-a9c611609ccb', metadata={'source': 'tagged_overview.txt'}, page_content='"515001 A World War II satire that follows a lonely German boy whose world view is turned upside down when he discovers his single mother is hiding a young Jewish girl in their attic. Aided only by his idiotic imaginary friend, Adolf Hitler, Jojo must confront his blind nationalism."'),
 Document(id='39cf5bd5-3c90-48de-84de-e62837cf60af', metadata={'source': 'tagged_overview.txt'}, page_content='256962 An eight-year-old boy is willing to do whatever it takes to end World War II so he can bring his father home. The story reveals the indescribable love a father has for his little boy and the love a son has for his father.'),
 Document(id='6bd5ae2a-458d-4be8-ba25-196e3b6adef1', metadata={'source': 'tagged_overview.txt'}, page_content='256962 An eight-year-old boy is willing to do whatever it takes to end World War II so he can bring his father home. The story reveals the indescribable love a father has for his little boy and the love a son has for his father.'),
 Document(id='16d7e691-2f70-451e-b1b5-43e57d51ff2f', metadata={'source': 'tagged_overview.txt'}, page_content='"339987 A German soldier tries to determine if the Dutch resistance has planted a spy to infiltrate the home of Kaiser Wilhelm in Holland during the onset of World War II, but falls for a young Jewish Dutch woman during his investigation."')]

In [45]:
movies[movies["id"] == int(docs[3].page_content.split()[0].strip())]

Empty DataFrame
Columns: [id, title, genre, original_language, overview, popularity, release_date, vote_average, vote_count, release_year, tagged_overview]
Index: []

In [39]:
import re

def retrieve_semantic_recommendations(query, top_k: int) -> pd.DataFrame:
    recs = db_movies.similarity_search(query, k=50)
    movie_ids = []

    for rec in recs:
        # Remove leading/trailing quotes and spaces
        text = rec.page_content.strip().lstrip('"').rstrip('"').strip()

        # Extract the first integer (the movie ID)
        match = re.match(r'(\d+)', text)
        if match:
            movie_ids.append(int(match.group(1)))

    # Remove duplicates while preserving order
    movie_ids = list(dict.fromkeys(movie_ids))

    # Return top_k rows from your main movies DataFrame
    return movies[movies["id"].isin(movie_ids)].head(top_k)

In [46]:
 retrieve_semantic_recommendations("A movie about a father and detective searching for 2 missing childs", 5)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,release_year,tagged_overview
161,146233,Prisoners,"Drama,Thriller,Crime",en,Keller Dover faces a parent's worst nightmare ...,43.621,2013-09-18,8.1,9409,2013,146233 Keller Dover faces a parent's worst nig...
641,489999,Searching,"Thriller,Mystery,Drama",en,After David Kim's 16-year-old daughter goes mi...,22.939,2018-08-24,7.6,3172,2018,489999 After David Kim's 16-year-old daughter ...
712,11190,The Return,Drama,ru,A story of two Russian boys whose father sudde...,6.865,2003-06-25,7.6,362,2003,11190 A story of two Russian boys whose father...
1706,336000,The Glass Castle,Drama,en,A young girl is raised in a dysfunctional fami...,20.132,2017-08-11,7.1,627,2017,336000 A young girl is raised in a dysfunction...
1928,524251,I See You,"Thriller,Mystery,Horror,Crime",en,"When a 12-year-old boy goes missing, lead inve...",72.372,2019-09-11,7.0,992,2019,"524251 When a 12-year-old boy goes missing, le..."

In [53]:
movies["genre"].str.split(",").explode().str.strip().value_counts().reset_index()

              genre  count
0             Drama   2737
1            Comedy   2359
2          Thriller   1614
3            Action   1486
4         Adventure   1081
5           Romance   1066
6             Crime    884
7            Horror    816
8            Family    797
9   Science Fiction    746
10          Fantasy    724
11        Animation    618
12          Mystery    499
13          History    273
14              War    189
15            Music    173
16          Western     92
17         TV Movie     91

In [65]:
movies[movies["genre"].str.contains("Fiction", na=False)]

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,release_year,tagged_overview
27,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,"Animation,Action,Science Fiction,Drama",ja,"In the aftermath of the Fourth Impact, strande...",108.156,2021-03-08,8.4,528,2021,"283566 In the aftermath of the Fourth Impact, ..."
31,18491,Neon Genesis Evangelion: The End of Evangelion,"Drama,Animation,Science Fiction,Action",ja,The second of two theatrically released follow...,32.759,1997-07-19,8.4,1102,1997,18491 The second of two theatrically released ...
32,1891,The Empire Strikes Back,"Adventure,Action,Science Fiction",en,"The epic saga continues as Luke Skywalker, in ...",28.323,1980-05-20,8.4,14384,1980,1891 The epic saga continues as Luke Skywalker...
38,27205,Inception,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",111.757,2010-07-15,8.4,31917,2010,"27205 Cobb, a skilled thief who commits corpor..."
49,618344,Justice League Dark: Apokolips War,"Animation,Action,Adventure,Fantasy,Science Fic...",en,Earth is decimated after intergalactic tyrant ...,41.778,2020-05-05,8.3,1189,2020,618344 Earth is decimated after intergalactic ...
...,...,...,...,...,...,...,...,...,...,...,...
6215,5550,RoboCop 3,"Action,Adventure,Crime,Science Fiction,Thriller",en,The mega corporation Omni Consumer Products is...,23.046,1993-04-17,4.7,958,1993,5550 The mega corporation Omni Consumer Produc...
6221,145221,Monsters: Dark Continent,"Thriller,Drama,Science Fiction",en,"Seven years on from the events of Monsters, an...",9.599,2014-10-09,4.7,279,2014,145221 Seven years on from the events of Monst...
6224,8285,The Spirit,"Action,Comedy,Thriller,Crime,Science Fiction",en,Down these mean streets a man must come. A he...,11.377,2008-12-25,4.7,803,2008,8285 Down these mean streets a man must come. ...
6229,168098,Cell,"Horror,Science Fiction,Thriller",en,When a strange signal pulsates through all cel...,19.521,2016-07-06,4.7,910,2016,168098 When a strange signal pulsates through ...
6231,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332,1990,"13995 During World War II, a brave, patriotic ..."